%h1
  ピート君bot 会話パターン表示サイト

#autonomous.Dictionary
  %h2
    自発的発言

  - @words['autonomous'].each do |key, value|
    .Section
      %h2
        = key
      %ul
        - value.each do |word|
          %li
            = h word

#answerset.Dictionary
  %h2
    メンションへの反応

  - @words['answerset'].each do |key, value|
    .Section
      %h2
        = key
      - value.each do |answerarray|
        - answerarray.each do |answerkey, answerval|
          %h3
            = answerkey
          %ul
            - answerval.each do |word|
              %li
                = h word

#changeset.Dictionary
  %h2
    おむつ交換への反応

  - @words['changeset'].each do |key, value|
    .Section
      %h2
        = key
      %ul
        - value.each do |word|
          %li
            = h word
